<router-outlet></router-outlet>
<!-- Header Start -->

<header>
  <div class="h_left">
    <div class="logo">
      <h2>Logo</h2>
    </div>
    <div class="search">
      <input type="text" placeholder="Seach Here" />
      <img src="./../assets/Icons/search.svg" alt="Search" />
    </div>
  </div>
  <div class="h_right">
    <div class="all_market">
      <span>All Market</span>
      <img src="./../assets/Icons/down_arrow.svg" alt="down_arrow" />
    </div>
    <div class="notification">
      <div class="n_count">4</div>
      <img src="./../assets/Icons/notification.svg" alt="Notification" />
    </div>
    <div class="notification">
      <div class="n_count">1</div>
      <img src="./../assets/Icons/mail.svg" alt="Mail" />
    </div>
    <div class="profile">
      <img
        src="https://into-the-program.com/demo/images/sample008.jpg"
        alt="Profile Img"
      />
    </div>
    <div class="r_drop">
      <img src="./../assets/Icons/dropdown.svg" alt="Dropdown" />
    </div>
  </div>
</header>

<!-- Header End -->

<!-- Sidebar Start -->
<!-- <aside></aside> -->

<div class="main-contain">
  <div class="mc-left">
    <!-- chart section start -->
    <div class="card">
      <img src="../assets/Chart.png" alt="Chart" />
    </div>
    <!-- chart section end -->
    <!-- Overview section start -->
    <div class="card overview">
      <div class="overview-header">
        <div class="overview-title">Overview</div>
        <div class="overview-btn">
          <button>Day</button>
          <button>Week</button>
          <button class="active-btn">Month</button>
          <button>Year</button>
        </div>
      </div>
      <!-- overview table start -->
      <div class="overviiew-tables">
        <table>
          <thead>
            <tr>
              <th>By Market</th>
              <th>₹3,34,864</th>
              <th>100%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="view-all">View All</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>By Market</th>
              <th>₹3,34,864</th>
              <th>100%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td>Panjab</td>
              <td>₹3,34,864</td>
              <td>45%</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="view-all">View All</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- overview table end -->
    </div>
    <!-- overview section end -->
    <!-- recent order start -->
    <div class="card recent">
      <div class="recent-header">
        <div class="recent-title">Recent Orders on your company</div>
        <div class="view-all">View all</div>
      </div>
      <div class="recent-tabs">
        <p class="active-tabs">Recent</p>
        <p>Inprogress</p>
        <p>Completed</p>
        <p>Cancelled</p>
      </div>
      <div class="recent-tab-content">
        <!-- recent order details start -->
        <div class="rtc-order">
          <button class="primary-btn">Inprogress</button>
          <div class="rtc-order-details">
            <div class="order-id">Order #1234567890 - Harminder Singh</div>
            <div class="order-date">
              Placed on 2 dec 2016 at 11:08 am , totalling Rs, 1,12,343
            </div>
          </div>
        </div>
        <div class="rtc-order">
          <button class="primary-btn">Inprogress</button>
          <div class="rtc-order-details">
            <div class="order-id">Order #1234567890 - Harminder Singh</div>
            <div class="order-date">
              Placed on 2 dec 2016 at 11:08 am , totalling Rs, 1,12,343
            </div>
          </div>
        </div>
        <div class="rtc-order">
          <button class="success-btn">Completed</button>
          <div class="rtc-order-details">
            <div class="order-id">Order #1234567890 - Harminder Singh</div>
            <div class="order-date">
              Placed on 2 dec 2016 at 11:08 am , totalling Rs, 1,12,343
            </div>
          </div>
        </div>
        <div class="rtc-order">
          <button class="warning-btn">Cancelled</button>
          <div class="rtc-order-details">
            <div class="order-id">Order #1234567890 - Harminder Singh</div>
            <div class="order-date">
              Placed on 2 dec 2016 at 11:08 am , totalling Rs, 1,12,343
            </div>
          </div>
        </div>
        <!-- recent order details end -->
      </div>
      <div class="center">
        <button class="active-btn">Day</button>
        <button>week</button>
        <button>Month</button>
        <button>Year</button>
      </div>
    </div>
    <!-- recent order end -->
  </div>
  <div class="mc-right">
    <div class="card notification-card">
      <div class="notification">Notifications</div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="message">
        <div class="m_name"><span>Harminfer Singh</span> added a new input</div>
        <div class="m_name">just now.</div>
      </div>
      <div class="all_noti">Show all notifications</div>
    </div>
  </div>
</div>

<!-- Sidebar End -->
